.owl-prev {
    position: absolute;
    top: 30%;
    left: -2%;
    padding: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%!important;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    -ms-border-radius: 50%!important;
    -o-border-radius: 50%!important;
    span{
        @include styleText($fs-4,$color-blue,$fw-normal);
        line-height: 0.6;
    }
}