body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: red;
  color: aliceblue;
  text-align: center;
  padding: 20px 0;
}
.footer {
  background-color: blue;
  color: aliceblue;
  text-align: center;
  padding: 20px 0;
}
.contents{
  display: flex;
}
.content{
  background-color: orange;
  color: aliceblue;
  text-align: center;
  width: 80%;
  padding: 200px 0;
}
.sidebar{
  background-color: green;
  color: aliceblue;
  text-align: center;
  width: auto;
  padding: 200px 0;
}

/* bai tap 3  */
.carousel-inner img {
    width: 100%;
    height: 600px;
}