/* GOLOBAL  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html, body {
     font-family: 'Montserrat', sans-serif;
     font-size: 14px;
 }
h2 {
    font-size: 4rem;
    font-weight: 500;
}

 /* HEADER  */
header {
    height: 80px;
    padding: 10px 20px;
}
header  a {
     /* font-size: 56px; */
     text-transform: capitalize;
     letter-spacing: 2px;
     color: white;
     text-decoration: none;
 }

 /* header .logo {
    display: block;
    float: left;
} */
header a span {
     color: #00cdce;
 }
 header nav li {
     margin: 10px;
     border-bottom: 2px solid white;
 }
 /*
header nav ul {
    list-style: none;    
}
header nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 30px 0;
    font-size: 1.2rem;
}
header nav {
    display: block;
    float: right;
    margin: 30px 0;
} */

 /* CAROUSEL */
 .carousel_content .item {
     height: 500px;
 }
.carousel_content img {
    display: block;
    width: 100%;
    height: 100%;
}


/* ABOUT */
.about {
    padding: 50px 0;
    text-align: center;
}
.about_content {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.about_content i {
    font-size: 1.5rem;
    border: 1px solid black;
    padding: 20px;
    border-radius: 50%;
    margin: 15px 0;
}

/* STATS */
.stats {
    padding: 50px 0;
    text-align: center;
    background-color: #00cdce;
    font-size: 3rem;

}
.stats_content {
    width: 70%;
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/* BLOG   */
.blog {
    text-align: center;
    padding: 50px 0;
}
.blog_content {
    width: 70%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}
.blog_content  img {
    display: block;
    width: 100%;
    height: 100%;
}
/* color   #00cdce : xanh bien  */
.blog_content .blog_item {
    background-color: #e6ebff54;
}
.blog_item h4 {
    margin: 10px;
    color: #00cdce;
}
.blog_item button,.getMore_content button {
    background-color: black;
    color: #00cdce;
    padding: 10px 20px;
    margin: 20px 0 ;
}

/* modal  */
.modal-header  {
    background-color: #00cdce;
    color: #fff;
}
.modal-header h5 {
    font-size: 3rem;
    text-align: center;

}

.modal-header  button {
    font-size: 3rem;
    color: #070606;
    z-index: 5;
}
.modal-body img {
    width: 100%;
}
.modal-body p {
    text-align: justify;
    padding: 20px;
}


 /* GET MORE  */

 .getMore_content {
     background-color: #00cdce;
 }
 
/* PORTFOLIO */
.portfolio_content {
    width: 60%;
    margin: 0 auto;
}
.portfolio_img {
    width: 100%;
    height: 100%;
}
/* SUBSCRIBE */
.subscript {
    background-color: #00cdce;
}
.subscript form {
    width: 50%;
    margin: 10px auto;
}

/* OUR AGENTS */
.ourAgents_content {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 30px;
}
.ourAgents_content img{
    width: 100%;
    height: 100%;
    display: block;
}

.ourAgents_item {
    position: relative;
}
.image_text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #070606;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.image_text h3 {
    color: #00cdce;

}

/* CONTACT */
.contact_map {
    border: 2px solid #00b6e3;
    background-color: #bbb;
    padding: 1em;
}
.contact_form {
    width: 70%;
    margin: 0 auto;
}
.contact_form input {
    height: 40px;
}
.contact_form input, .contact_form textarea {
    border: none;
    border-bottom: solid 2px #999;
    background-color: rgb(239, 239, 239);
    width: 100%;

    padding: .8em 1em;
}
.contact_form input.submit {
    background-color: #070606;
    color: #fff;
}




/* FOOTER */
footer {
    background-color: #00cdce;
}
.footer_socials ul {
    display: inline;
    list-style: none;
}
.footer_socials li {
    display: inline;
    margin: 0 8px;

}
.footer_socials a span i {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    color: #fff;
    line-height: 33px;
    text-align: center;
}
