.courses {
    margin-top: $mg-2;
    .courses_content{
        width: 80%;
        margin: auto;
        .courses_intro {
            height: 93%;
            justify-content: center;
            padding: 4.5rem 2rem;
            background-color: $color-gray-1;
            h2 {
                @include styleText($fs-1 -4, $color-black-0,$fw-bold);
            }
            p{
                color: $color-gray-4;
            }            
        }

        .myTab {
            .nav{
                justify-content: space-between;
                border: none;
                .nav-item{
                    color: $color-gray-4;
                    &:hover{
                        .nav-link{
                            border: none;
                        }
                    }
                    .nav-link.active{
                        border: none;
                        border-bottom: 5px solid $color-blue;
                    }
                    .nav-link{
                        @include styleText($fs-0,$color-black-0,$fw-normal);
                        border: none;
                    }
                    
                }

            }
            .tab-content{
                margin-top: $mg-2;
                position: relative;
                .card {
                    height: 100%;
                    .card-title {
                        @include styleText($fs-0,$color-black-0,$fw-bold);
                        display: -webkit-box!important;
                        -webkit-line-clamp: 2!important ;
                        -webkit-box-orient: vertical!important;
                        overflow: hidden!important;
                    }
                    .card-text{
                        @include styleText($fs-1,$color-gray-4,$fw-normal);
                    }
                    .rating{
                        display: flex;
                        .rating_star{
                            @include styleText($fs-1,$color-yellow,$fw-normal);
                            margin-right: $mg-0;
                        }
                        span:nth-child(2){
                            @include styleText($fs-1,$color-gray-4,$fw-bold);
                        }
                        span:last-child{
                            @include styleText($fs-1,$color-gray-4,$fw-normal);
                        }
                    }
                    .price {
                        text-align: right;
                        .old-price{
                            @include styleText($fs-1,$color-gray-4,$fw-normal);
                            text-decoration: line-through;
                        }
                        .new-price{
                            @include styleText($fs-1,$color-black-0,$fw-bold);
                        }
                    }
                }

            }


        }
    }
}