/* GLOBAL */
html,body{
    font-family: 'Roboto Condensed', sans-serif;
}
*{
    box-sizing: border-box;
}
.title {
    color: #ec7532;
    /* font-size: 18px; */
    letter-spacing: 2px;

}

/* HEADER */
header{
    position: absolute;
    top:30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
header .navbar-nav {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
/* 110 */
#movieNavBar .nav-item::after{
    content: "";
    width: 0;
    height: 3px;
    display: block;
    /* #fbbd61,#ec7532 */
    /* từ trái qua phải */
    /* left là vị trí màu bắt đầu */
    /* right là vị trí màu kết thúc */
    background:linear-gradient(to right,#fbbd61,#ec7532);
    transition: all 0.5s;
}
#movieNavBar .nav-item:hover::after{
    width: 100%;
}

#movieNavBar .nav-item.active::after{
    width: 100%;
}

/* CAROUSEL */
#movieCarousel .carousel-caption{
    
    /* Canh giữa cho position:absolute */
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
} 
.carousel-caption p:first-child {
    color: #fbbd61;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: none;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #fff;
}

#movieCarousel .carousel-item {
    height: 800px;
}
#movieCarousel .movie_item1 {
    background: url('../img/hero-1.jpg') no-repeat center;
    background-size: cover;
}
#movieCarousel .movie_item2 {
    background: url('../img/hero-2.jpg') no-repeat center;
    background-size: cover;
}
#movieCarousel .movie_item3 {
    background: url('../img/hero-3.jpg') no-repeat center;
    background-size: cover;
}
.movieCarousel__trailer .moviePG {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 15px;
}
.movieCarousel__trailer button {
    border: none;
    border-radius: 30px;
    padding: 12px 26px;
    background:linear-gradient(to right,#fbbd61,#ec7532);
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase; 
    transition: all 0.5s;
}
 
.movieCarousel__trailer a {
    text-decoration: none;
    color: #fff;
}

/* luyen tap  */
.movieCarousel__trailer button{
    position: relative;
    overflow: hidden;    
}

.movieCarousel__trailer button::after {
    position: absolute; 
    z-index: 0;   
    top:0;
    left: -15px;
    width: 0;
    height: 100%;
    content: "";
    background-color: #ec763283;
    transition: all 0.5s;
    transform:  skewX(30deg);
}
/* vị trí đã hover */

.movieCarousel__trailer button:hover::after{
    width: 100%;

}

/* NEW IN */
.newIn h2 {
    border-bottom: 1px solid #d8d8d8;
    color: #ec7532;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
}
.newIn h2::after{
    position: absolute;
    right: auto;
    bottom: -1px;
    content: "";
    width: 100px;
    height: 4px;
    display: block;
    background:linear-gradient(to right,#fbbd61,#ec7532);
}
.newIn__star i {
    font-size: 15px;
    display: inline-block;
    width: 18px;
    color: #fbbd61;
}
.newIn__img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.newIn__img .newIn__overlay{
    opacity: 0.8;
    position: absolute;
    top:0;
    left: 0;
    width: 205%;
    height: 100%;
    background: linear-gradient(to bottom,#fbbd61,#ec7532);
    /* vị trí chưa hover */
    transform: translateX(-125%) skewX(30deg);
    transition: all 0.5s;
}
/* vị trí đã hover */
.newIn__img:hover .newIn__overlay{
    transform: translateX(-30%) skewX(30deg);
}

/* responsive  */
@media screen and (max-width:576px){
    /* nhỏ hơn 576px  */
    .newIn__img img {
        width: 100%;
    }
}

/* showTimes  */
a.title:hover {
    text-decoration: none;
    color: #101010;
}
.moviePG2 {
    background-color: #101010;
    color: #fff;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 0.7rem;
}
.btn-secondary {
    margin-left: 5px;
}

/* coming soon  */
.coming_bg h2 {
    border-bottom: 1px solid #d8d8d8;
    color: #fff;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
}
/* 110 */
.coming_bg h2::after{
    position: absolute;
    right: auto;
    bottom: -1px;
    content: "";
    width: 200px;
    height: 4px;
    display: block;
    background:linear-gradient(to right,#fbbd61,#ec7532);
}
.coming {
    background-color: #101010;
}
.coming_bg {
    padding: 80px 0;
    background-image: url(../img/slide-3.png);
    background-size: cover;
    background-position: center center;
}
.coming_bg .title {
    color: #fff;
}
.coming_detail > span {
    font-size: 14px;
    color: #ec7532;
}
.coming_detail > h1 {
    font-size: 34px;
}
.coming_detail  .fa-star {
    color: #fbbd61;
    font-size: 14px;
}
.coming_detail coming_date {
    opacity: 0.75;
    font-size: 14px;
    margin-left: 10px;
}
.coming_detail a {
    color: #ec7532;
    letter-spacing: 3px;
}
.coming_trailer {
    position: relative;
}
.coming_trailer img {
    display: block;
    width: 100%;
}
.coming_trailer i {
    width: 84px;
    height: 84px;
    line-height: 84px;
    display: block;
    border: 2px solid #ec7532;
    border-radius: 50%;
    text-align: center;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
}
.coming_detail a:hover {
    color: #fbbd61;
    text-decoration: none;
}

/* movie list  */
.movieList {
    background-color: #101010;
}
.slider {
    width: 100%;
    padding: 50px 0;
}

.slick-slide {
  margin: 0px 15px;
}

.slick-slide img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.slick-prev, .slick-next {
    position: absolute;
   top: 40%; 
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
  margin: 0px 11px;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
.slick-prev:before, .slick-next:before {
    font-size: 35px;
    color: orange;
    margin-left: -8px;

}

/* contact  */
.contact p:last-child {
    color: #ec7532;
    font-size: 3rem;
}

/* footer  */
#footer {
    background-color: black;
    color: #fff;
}
#footer h6 {
    color: #ec7532;
    letter-spacing: 2px;
    margin-left: 40px;
}
/* #footer .copyright {
    padding: 20px;
} */
#footer .copyright::before {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #101010;
}
#footer li {
    list-style: none;
}
#footer a {
    text-decoration: none;
    color: #fff;
    outline: none;
    transition: all 0.5s;
}
#footer i {
    color: gray;
    display: inline-block;
    width: 25px;
    transition: all 0.5s;
}
#footer a:hover {
    color: #fbbd61;
    cursor: pointer;
}
#footer a:visited,#footer a:active {   
    text-decoration: none;
}