/* GLOBAL */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;    
}
.clear {
    clear: both;
}
/* HEADER */
header img {
    display: block;
    width: 100%;
}
header .logo {
    display: block;
    float: left;
    padding-left: 1rem;
}
header .slogan {
    padding-right: 6rem;
    float: right;
}
header nav ul {
    list-style: none;
    border: 1px solid #DFDFDF;
    border-left: none;
    border-right: none;
    padding: 15px 5px;
}
header nav li {
    display: inline;
}
header nav a {
    text-decoration: none;
    color: #646464;
    font-weight: 600;
    padding: 5px;
    font-size: 1rem;
}
header nav .active, a:hover {
    border-bottom: 3px solid #812E31;
}

/* BANNER */
.banner {
    background-image: url(../images/slider_1.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 10px;
}
.line_image {
    padding: 10px 0;
    text-align: center; 
}
/* INTRO */
.intro {
    padding: 40px 15px;
    text-align: center;
    word-spacing: 2px;
    line-height: 25px;
}
.intro p {
    color: #838383;
}

/* COURSE */
.course {
    padding: 20px 0;
    text-align: center;
}
.course_content {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(4,1fr);
    gap: 0 18px;
    margin: 0 10px;
}
.course_content img {
    width: 100%;
    display: block;
    height: 200px;
}
.course h4 {
    color: #942D39;
    padding: 10px 0;
}

/* NEWS */
.news {
    padding: 20px 0;
    text-align: center;
}
.news_content {
    padding: 10px;
    text-align: justify;
}
.news_item_left, .news_item_right {
    float: left;
    width: 50%;
}

/* LEFT */
.news_item_left {
    padding-right: 5px;
}
.news_item_left img {
    width: 100%;
    display: block;
    padding-bottom: 3px;
    border-bottom: 3px solid #862422;
}
.news_item_0-1 {
    position: relative;
}
.news_item_0-1 p {
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0;
    height: 50px;
    background-color: rgb(0, 0, 0,0.6);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}

/* RIGHT */
.news_item {
    float: left;
    width: 50%;
    padding-left: 18px;
    padding-bottom: 10px;
    
}
.news_item_right img {
    width: 100%;
    display: block;
    padding-bottom: 3px;
    border-bottom: 3px solid #862422;
}
.news_item_1-1 {
    position: relative;
}
.news_item_1-1 p {
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0;
    height: 50px;
    background-color: rgb(0, 0, 0,0.6);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}



