.companies {
    background-color: $color-gray-1;
    .companies_content {
        width: 70px;
        margin: auto;
        @include styleText($fs-0,$color-gray-4,$fw-normal);
        color: $color-gray-4;
    }
}