.courses {
    margin-top: $mg-2;
    .courses_content{
        width: 80%;
        margin: auto;
        .courses_intro {
            @include styleText($fs-4 -4, $color-black-0,$fw-normal);
            
        }
    }
}