.footer {
    border-top: 2px solid $color-gray-2;
    .footer_content{
        width: 80%;
        margin: auto;
        ul{
            li{
                list-style: none;
                a{
                    @include styleText($fs-0,$color-blue,$fw-normal)
                }
            }
        }

    }
}
