.footer {
    border-top: 1px solid $color-gray-3;
    position: relative;
    .footer_content{
        width: 80%;
        margin: auto;
        .footer_contact{
            ul{
                li{
                    list-style: none;
                    a{
                        @include styleText($fs-0,$color-blue,$fw-normal);
                        &:hover{
                            text-decoration: none;
                            color: $color-black-0;
                        }
                    }
    
                }
            }
        } 
        .copyright{
            border-bottom: 2px solid $color-red-0;
        }  
    }    
    .line{
        position: absolute;
        bottom: 35%;
        left: 0;
        height: 1px;
        width: 100%;
        background: $color-gray-3;
    }
}
